@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); /*font-family: 'Montserrat(OTT)', sans-serif;*/
/*-------------------RESET-------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, hr small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
p { padding-bottom:15px;}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
img {
	border: 0 none; max-width:100%;
}
a {
	text-decoration: none;
	color: #ef5411;
	outline:0 none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
}
hr {
	display: block;
	height: 1px;
	border-top: 1px solid #ccc;
	margin: 1em 0;
}
input, select {
	vertical-align: middle;
	outline:0 none;
	-webkit-appearance: none;
}
input[type="text"], input[type="password"],input[type="checkbox"]{-webkit-appearance: none}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
input:focus, select:focus, textarea:focus {
	outline:0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,div,.reg-form .fb-btn,.comments textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
input[type=checkbox]
{
  -webkit-appearance:checkbox;
}
/*-------------------TYPOGRAPHY-------------------*/
body, select, input, textarea { font-size: 12px; font-weight:bold; font-family: Montserrat, Arial, Helvetica, sans-serif; }

/*-----------------ANIMATION-------------------*/
{
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}
.ease,header ul.login li input[type=text], input,.btn_orng,.slider-first .callbacks li .link.reg-form .fb-btn,.row-1 .return a{
	transition:all ease .4s ;
	-moz-transition:all ease .4s ;
	-webkit-transition:all ease .4s ;
	-o-transition:all ease .4ms ;
}
/*-----------------ROUND-------------------*/

input[type=submit],
input[type=button] {-webkit-user-select:none; cursor:pointer;}

body			{
	font-family:'Montserrat', sans-serif, Arial;
	font-size:12px;
	font-weight:bold;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-y:scroll;
	background:#ffffff;
}

/*  Clearfix
------------------------------------------------------------------------------*/



.clearfix:after,
section:after,
aside:after,
article:after,
footer:after,
header:after,
div:after,
ul:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix:before,
section:before,
aside:before,
article:before,
footer:before,
header:before,
div:before,
ul:before {
	content: "";
	display: table;
}

.clearfix,
section,
aside,
article,
footer,
header,
div,
ul 
 {
	zoom: 1;
}
.clear {
	clear:both;
	height:0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

/* Links
--------------------------------------------- */
@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/pts55f.eot');
    src: url('../fonts/pts55f.eot') format('embedded-opentype'),
         url('../fonts/pts55f.woff') format('woff'),
         url('../fonts/pts55f.ttf') format('truetype'),
         url('../fonts/pts55f.svg#PTSansRegular') format('svg');
}
@font-face {
    font-family: 'cooper_blackregular';
    src: url('../fonts/coopbl_0-webfont.eot');
    src: url('../fonts/coopbl_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coopbl_0-webfont.woff2') format('woff2'),
         url('../fonts/coopbl_0-webfont.woff') format('woff'),
         url('../fonts/coopbl_0-webfont.ttf') format('truetype'),
         url('../fonts/coopbl_0-webfont.svg#cooper_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.radius,
.adds img{
	behavior:url(PIE/PIE.htc);
	position:relative;
}
.frame   { width:100%; /*max-width:1280px;*/ margin:0 auto;}
/*----------------------------------*/
 
header            { background:#2a80b9; color:#ffffff;}
header .logo      { padding:9px 0 5px 35px; float:left;}
header hgroup     { float:right; padding:18px 26px 0 0; text-align:right}
header hgroup a                 { color:#fff;}
header hgroup a:hover           { color:#fff; text-decoration:underline;}
header hgroup span.log          {}	  				   
header hgroup span.lang         { padding:0 2px}	  				   
header ul.login                          { padding:5px 0 0}
header ul.login li                       { display:inline; padding:0 1px; float:left}	
header ul.login li input[type=text],
header ul.login li input[type=password]  { position:relative; width:158px; border-radius:3px; border:0; text-indent:5px; background:#d4e6f0; height:21px;}
header ul.login li input[type=submit],
.btn_ylew                                { position:relative; border-radius:3px; border:0; text-indent:5px; background:#e67f23; height:21px;
                                           color:#ffffff; padding:1px 10px;}
.login_btn                               { color:#f4d03e; font-size:20px; font-weight:900; text-decoration:none; position:relative; top:10px}
.login_btn:hover                         {text-decoration:none;}

header ul.login li input[type=submit]    { text-indent:0;}
header ul.login li input[type=text]:hover,header ul.login li input[type=password]:hover{ background:#a5c6d8;}	
header ul.login li input[type=submit]:hover { background:#f48a2c;}
/************************************/
.slider-first .callbacks_container    {  position: relative;  width: 100%;  }
.slider-first .callbacks              {  position: relative;  list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0; }
.slider-first .callbacks li           { position: absolute;width: 100%;left: 0;top: 0; }
.slider-first .callbacks img          { display: block;position: relative;z-index: 1;height: auto; width: 100%;border: 0;  }
.slider-first .callbacks .caption     { font-size:35px; display: block; position: absolute;z-index: 2;text-shadow: none;color: #fff;
									    background: url(../images/black-transparent.png) repeat;
									    left: 0;right: 0;top:45%;padding: 20px;margin: 0 40px;max-width: none; font-weight:700 }
.slider-first .callbacks .caption span { font-size:45px; display:block}						   
.slider-first .callbacks_nav           { position: absolute;top: 52%;left: 0;opacity: 0.7;z-index: 3;text-indent: -9999px;overflow: hidden;text-decoration: none;
                                         height: 61px; width: 38px;background: transparent url("themes/themes.gif") no-repeat left top;margin-top: -45px; }
.slider-first .callbacks li .link      { position:absolute; right:40px; bottom:40px; background:#e77e23;font-family: 'cooper_blackregular'; 
                                         padding:8px 20px; font-size:35px; z-index:10; color:#ffffff; border:2px solid #e77e23}
.slider-first .callbacks li .link:hover{ background:None; border:2px solid #ffffff}
.slider-first ul.callbacks_tabs        { position:absolute; z-index:10; left:34px; bottom:50px}
.slider-first ul.callbacks_tabs li     { float:left; padding:0 5px;}
.slider-first ul.callbacks_tabs li a   { display:block; width:19px; height:19px; background:url(../images/pager.png) no-repeat 0 0; overflow:hidden; text-indent:-999em;}
.slider-first ul.callbacks_tabs li.callbacks_here a{ background:url(../images/pager_active.png) no-repeat 0 0; }

/**********************************/
.articles-main                 { padding:61px 0; /*max-width:1280px; */margin:0 auto; width:100%; overflow:auto;}
.articles-main,
.articles-main a               { color:#297fb8;}
.articles-main article         { float:left; text-align:center; width:20%; font-weight:700; font-size:14px}
.articles-main article figure  { padding-bottom:20px; }
.articles-main article p       { padding:27px 20px 0}
.articles-main article hr      { margin:0 auto; width:85px; background:#e57819; height:3px; border:0}
.articles-main article h3      { font-size:16px;height:42px;}
/********************************/

.grid_first                 { background:#3598db;}
.grid_first .training       { width:50%; float:left; padding:92px 20px 36px 40px; font-size:47px; color:#f4d65a;font-weight:700;}

.btn_orng           { background:#e77e23; text-transform:uppercase; padding:10px 38px; color:#ffffff;font-size:16px; 
                      display:inline-block; border:2px solid #e77e23}
.btn_orng:hover,
.btn_orng:focus       { background:#3598db;border:2px solid #ffffff}
.grid_first .form     { width:50%;float:left; padding:77px 20px 36px 101px; font-size:18px; color:#f4d65a;font-weight:900; text-transform:uppercase}
.grid_first .form div { padding-bottom:30px}
.grid_first .form p   { padding-bottom:5px}
.grid_first .form label               { padding:5px; display:block;}
.grid_first .form input[type=text]    { background:#d4e4f1; border:2px solid #d4e4f1; border-radius:5px; font-size:15px; 
                                        text-align:center; width:100%; max-width:275px; height:25px; color:#1373b0; position:relative; top:5px}  

.btn_blu           { background:#2a80b9; text-transform:uppercase; padding:10px 38px; color:#ffffff;font-size:16px; 
                      display:inline-block; border:2px solid #2a80b9}
.btn_blu:hover,
.btn_blu:focus       { background:#3598db;border:2px solid #ffffff}

.grid_second                 { background:#ffffff; color:#2781b6;}
.grid_second figure          { position:relative; overflow:hidden; float:left; width:50%}
.grid_second figure img      { margin-bottom:-4px;}
.grid_second figure .corner  { position:absolute; right:0; top:0; z-index:99}
.grid_second article         { float:left; width:50%; padding:63px 50px 20px 50px}

.grid_second article h2                { font-family: 'cooper_blackregular'; font-weight:normal; font-size:40px; padding:0 0 15px 5px}
.grid_second article p.second-line     { border-top:2px solid #297fb8;border-bottom:2px solid #297fb8; font-size:27px; font-weight:700;
                                         padding:3px 0 3px 4px; margin-bottom:20px}
.grid_second article p.third-line      { color:#7db1d6; padding-bottom:40px; font-size:21px;font-family: 'cooper_blackregular'; font-weight:normal; }


.btn_orng_2           {  text-transform:uppercase; padding:10px 38px; color:#e77e23;font-size:16px; 
                        display:inline-block; border:2px solid #e77e23}
.btn_orng_2:hover,
.btn_orng_2:focus       { background:#e77e23;border:2px solid #e77e23; color:#ffffff}

.top-entry               { background:#3598db; padding:32px 29px;}
.top-entry h2            { color:#f4d03e; font-weight:700; font-size:50px; line-height:40px;}
.top-entry ul            { padding:0 0 20px }
.top-entry ul li         { float:right; width:25%; }
.top-entry ul li div           { background:#2b80b9; border:3px solid #2b80b9;margin:0 20px}
.top-entry ul li div .count    { height:55px; font-size:28px; float:left; width:20%; text-align:center;  
                                 color:#f3d559; line-height:49px; display:block;}
/*.top-entry ul li div .text     { height:55px; font-size:14px; font-weight:900; float:left; width:80%; text-align:center;  
                                 color:#2b80b9; line-height:26px; display:block; background:#f4d03e;}*/

.top-entry ul li div .text     { height:40px; font-size:17px; font-weight:900; float:left; width:80%; text-align:center;  
                                 color:#2b80b9; line-height:20px; display:block; background:#f4d03e;padding:8px 0 8px 0;}


/***************************/
.slider-second       { }
.slider-second .callbacks_container    {  position: relative;  width: 100%;  }
.slider-second .callbacks              {  position: relative;  list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0; }
.slider-second .callbacks li           { position: absolute;width: 100%;left: 0;top: 0; }
.slider-second .callbacks img          { display: block;position: relative;z-index: 1;height: auto; width: 100%;border: 0;  }
.slider-second .callbacks .caption     { font-size:15px; display: block; position: relative;text-shadow: none;color: #297fb8;
                                         background:none;padding:50px;margin:0; font-weight:600; width:55%; float:left }
.slider-second .callbacks_nav           { position: absolute;top: 52%;left: 0;opacity: 0.7;z-index: 3;text-indent: -9999px;overflow: hidden;text-decoration: none;
                                          height: 61px; width: 38px;background: transparent url("themes/themes.gif") no-repeat left top;margin-top: -45px; }
.slider-second .callbacks li .link      { position:absolute; right:40px; bottom:40px; z-index:99}
										  
										  
.slider-second .callbacks li .link a       { background:#ffffff; display:inline-block; padding:5px 10px; font-size:16px; color:#e77e23; 
                                             margin: 0 10px; border:2px solid #e57e21; border-radius:2px}
.slider-second .callbacks li .link a:hover { background:#e77e23;color:#ffffff; }
										  
.slider-second ul.callbacks_tabs        { position:absolute; z-index:10; left:34px; bottom:50px}
.slider-second ul.callbacks_tabs li     { float:left; padding:0 5px;}
.slider-second ul.callbacks_tabs li a   { display:block; width:19px; height:19px; background:url(../images/pager.png) no-repeat 0 0; overflow:hidden; text-indent:-999em;}
.slider-second ul.callbacks_tabs li.callbacks_here a{ background:url(../images/pager_active.png) no-repeat 0 0; }

.slider-second .callbacks li .image         { float:left; width:45%; position:relative;}
.slider-second .callbacks li .image .corner { position:absolute; right:0; top:0; z-index:99; width:auto}
.slider-second .callbacks .caption p.second-line          { border-top:2px solid #297fb8;border-bottom:2px solid #297fb8; font-size:24px; font-weight:700;
                                                            padding:3px 0 3px 4px; margin-bottom:20px}
.slider-second .callbacks .caption p.third-line           { line-height:30px;} 




/**************************/
.press      	 { background:#3598db; padding:20px;}
.press .box  	 { float:left;  width:50%}
.press ul    	 { padding-bottom:20px}
.press ul li	 { margin:0 50px 15px;background:url(../images/dots.png) repeat-x 0 bottom; color:#f4d03e; font-size:20px; 
                   display:block; position:relative}
.press ul li span.press_ID    { float:left; position:relative; bottom:-5px; background:#3598db; padding:0 10px 0 0}
.press ul li span.count       { float:right; position: absolute; bottom:-5px; background:#3598db; padding:0 0 0 10px;
                                font-size:22px; right:0}

.press ul li:after  { content: "";display: table;	clear: both;}
.press ul li:before { content: "";display: table;}
.press ul li        { zoom: 1;}


.btn_orng3           { background:#e77e23; text-transform:uppercase; padding:10px 38px; color:#ffffff;font-size:16px; 
                       display:block; border:2px solid #e77e23; text-align:center; margin:0 50px}
.btn_orng3:hover,
.btn_orng3:focus      { background:#3598db;border:2px solid #ffffff}

/*****************************/
.foot-nav  { overflow:auto;}

ul.nav_01      { border-top:5px solid #ffffff;border-bottom:5px solid #ffffff; text-align:center; min-width:1024px; background:#2a80b9;}
ul.nav_01 li   { display:inline-block; font-weight:700; font-size:16px}
ul.nav_01 li a { display:inline-block; padding:17px; color:#ffffff} 
ul.nav_01 li a:hover { color:#ffd337;}

ul.nav_02      { border-bottom:5px solid #ffffff; text-align:center; min-width:1024px; background:#3d8dc0;}
ul.nav_02 li   { display:inline-block; font-weight:700; font-size:18px}
ul.nav_02 li a { display:inline-block; padding:19px 58px; color:#ffd337} 
ul.nav_02 li a:hover { color:#ffffff;}

ul.nav_03      { border-bottom:5px solid #ffffff; text-align:center; min-width:1024px; background:#2a80b9;}
ul.nav_03 li   { display:inline-block; font-weight:700; font-size:19px}
ul.nav_03 li a { display:inline-block; padding:20px 58px; color:#94c0db} 

footer                  { background:#bcbdc1; color:#7e7f83;padding:30px; }
footer a                { color:#7e7f83;}
footer .frame           { }
ul.nav_03 li a:hover    { color:#ffd337;}
footer .col-01 .logo    { padding-bottom: 37px; display:block}

ul.footnav_01        { text-transform:uppercase;font-weight:700}
ul.footnav_01 li     { padding:0 0 30px; font-size:15px;}
ul.footnav_01 li a   { display:inline-block;border-bottom:2px solid #7e7f83;padding:0 0 5px;  }

ul.footnav_02        { font-weight:700; padding-bottom:20px}
ul.footnav_02 li     { padding:0 0 1px; font-size:10px;}
ul.footnav_02 li a:hover   { text-decoration:underline }
 
footer h2            { padding:0 0 20px; font-size:15px;}
footer h2 span       { display:inline-block; border-bottom:2px solid #7e7f83; padding-bottom:5px}
a.find               { color:#2781bd;font-size:15px;font-weight:700}

footer .col-01          { float:left; width:20%}
footer .col-02          { float:left; width:30%}
footer .col-03          { float:left; width:50%}
footer .col-03 .colums  { float:left; width:50%;}

.block_foot           { padding:30px;border-bottom:1px solid #a6a6a6;border-top:1px solid #a6a6a6;background:#bcbdc1; color:#9a9b9e;}
.block_foot p         { padding:0}
.block_foot h4        { font-size:13px;}

ul.foot_links        { color:#9a9b9e; padding:15px 30px; background:#bdbec0; text-align:center}
ul.foot_links li     { color:#828587; display:inline; padding:0 2px}
ul.foot_links li a   { color:#828587}
.copyright           { color:#9a9b9e; padding:10px 30px; background:#bdbec0; text-align:center} 

.pop { background:#408dc1;width:100%; margin:50px auto 0;display:none; max-width:738px;z-index:500;
			color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
			.pop .close { position:absolute; top:-13px; right:-13px; cursor:pointer;}
.popbox h3 {
			font-size:26.22px;
			text-align: center;
			padding:0px 0px 27px;
			margin-bottom: 34px;
			background: transparent url("../images/line.png") no-repeat scroll center bottom;
			}
			.popbox p { padding-bottom:32px}
			.popbox {
			padding:50px 28px 15px;
			font-size:18.03px;
			}
			.btn_pop {
			background: #F4D03E ;
			color: #E47F25;
			border: 2px solid #F4D03E;
			padding: 6px 62px;
			text-transform: uppercase;
			font-size:16.39px;
			font-weight: 700;
			}
			.btn_pop:hover {
			background: #408dc1 ;
			color: #F4D03E;
			}
			.popbox p .help {
			position: relative;
			padding: 0px 0px 0px 10px;
			top: 7px;
			}
			.txt-ylew { color:#f4d03e;}
			
			#entry { background:#408dc1; }
			#entry header { border-bottom:5px solid #ffffff}
			
			#entry .frame2 { max-width:1280px; width:100%; margin:79px auto; position:relative; font-size:19px}
			#entry .heading { font-size:49.17px; color:#f4d03e; background: transparent url("../images/line.png") no-repeat center bottom;
			padding:0 0 27px; margin-bottom:25px; text-align:center; font-weight:700; line-height:37px}
			
			ul.steps { position:absolute; left:0; top:0}
			ul.steps li { display:inline-block; padding:8px 15px; background:#2a80b9; font-size:31px; text-align:center;
			width:27px; float:left; font-weight:400; color:#87c2e9}
			ul.steps li.active { background:#f4d03e; color:#e8751d;}
			
			.reg-form { padding:50px 0; font-weight:400; font-size:14.75px }
			.reg-form.contact .txt-ylew { font-size:19.67px }
			.reg-form .colum { float:left; width:50%;}
			.reg-form .right { float:left; width:50%; padding:10px 0 0 20px; color:#ffffff; max-width:350px}
			
			.reg-form .fields { border-right:3px solid #ffffff; padding:0 20px 0 0}
			.reg-form .fields.rit { border-right:0; }
			.reg-form .fields .colums { float:left; width:45%; padding:10px 0}
			.reg-form .fields .label,
			.reg-form .label { float:left; width:55%; text-align:right; color:#ffffff; padding:13px 15px 0 0}
			.reg-form .fields .label span { color:#f4d03e;}
			.reg-form .fields .tfl { border:0; background:#d4e6f0; height:25px; border-radius:5px; width:100%; text-indent:5px}
			.reg-form .fields .selet { border:0; background:#d4e6f0; height:27px; border-radius:5px; width:100%; text-indent:5px}
			.reg-form .fields .tfl_small { border:0; background:#d4e6f0; height:25px; border-radius:5px; width:29%; margin:0 4px 0 0; text-indent:5px; text-align:center}
			.reg-form .fields .tfl_small.select {height:27px ;text-align:center}
			
			
			
			.reg-form .label.ylw { color:#f4d03e; font-size:13px; padding-right:25px}
			.reg-form .fb-btn { background:#fdf2cf; border:0; display:block; text-align:center; padding:4px 5px; text-align:center;
			width:100%; font-size:14px; text-transform:uppercase; color:#408dc1; border-radius:4px }
			.reg-form .fb-btn:hover { color:#fdf2cf; background:#70afd9;}
			.reg-form .sub-btn { color:#e8751d; background:#f4d03e; border:2px solid #f4d03e; padding:10px; width:100%; font-size:14px}
			.reg-form .sub-btn:hover { color:#f4d03e; background:#408dc1; }
			.reg-form .label.ylw { font-size: 13.11 ;}
			.reg-form label { color:#ffffff; padding:8px 5px 5px 20px}
			
			.frame_inner { padding:34px 30px 16px; max-width:1024px; width:100%; margin:0 auto}
			.row-1 { padding-bottom:35px}
			.row-1 .title { float:left; width:80%; color:#e67f23; font-size:14.75px;font-weight:700;}
			.row-1 .title h3 { color:#2a80b9; font-size:29.5px; line-height:27px; padding-bottom:15px}
			.row-1 .return { float:right; width:20%}
			.row-1 .return a { display:block; padding:11px 10px; color:#ffffff; font-size:19.67px; background:#e67f23; font-weight:400; text-align:center;
			border:2px solid #e67f23}
			.row-1 .return a:hover { color:#e67f23; background:#ffffff; }
			
			.panel-left { width:40%; float:left; padding-right:10px;}
			
			.calender { padding:16px 2px 2px; background:#3598db; margin-bottom:15px; text-align:center; }
			.calender h3 { color:#f5d03e; font-size:22.71px; padding-bottom:40px; background:url(../images/calender.png) no-repeat center bottom;
			line-height:19px;font-weight:700; margin-bottom:5px}
			.comments { border:4px solid #3598db; padding:3px; border-radius:3px; margin-bottom:12px}
			.comments h3 { color:#3598db; font-size:18.03px; padding:10px 15px}
			.comments textarea { width:100%; height:154px; background:#d7eaf9; border:0; padding:10px}
			.btn-orng { display:inline-block; color:#ffffff; font-size:15px; padding:10px 44px; background:#e77e23}
			
			.panel-rite { width:60%; float:left; padding-left:15px;}
			
			.session { background:#a9cce2; font-size:700; border-radius:5px; overflow:hidden}
			.session .title { background:#2a80b9; color:#ffffff; padding:15px; font-size:14.75px}
			.session .content { padding:18px; color:#2a80b9;font-weight: 700;font-size:13.11px}
			.session .content .row { padding-bottom:20px;}
			.session .content .row figure { position:relative; width:40%; float:left; overflow:hidden}
			.session .content .row figure .corner { position:absolute; right:0; top:0}
			.session .content .row article { float:left; width:60%; padding-left:20px;}
			.session .content .row article h3 { color:#ffffff; font-size:19.67px; padding-bottom:3px}
			.session .content .row article .text { border-bottom:2px solid #2a80b9;border-top:2px solid #2a80b9; padding:15px 0; }
			
			
			.radios {
			background: url("divider.png") repeat-x scroll 0 0 transparent;
			padding-top: 18px;
			}
			.label_check input, .label_radio input {
			margin-right: 5px;
			}
			.has-js .label_check, .has-js .label_radio {
			padding-left: 34px; display:block
			}
			.has-js .label_radio {
			background: url("../images/radio-off.png") no-repeat scroll 0 0 transparent;
			}
			.has-js .label_check {
			background: url("../images/check-off.png") no-repeat scroll 0 5px transparent;
			}
			.has-js label.c_on {
			background: url("../images/check-on.png") no-repeat scroll 0 5px transparent;
			}
			.has-js label.r_on {
			background: url("../images/radio-on.png") no-repeat scroll 0 5px transparent;
			}
			.has-js .label_check input, .has-js .label_radio input {
			left: -9999px;
			position: absolute;
			}
		ul.steps { position: static; margin:0 auto; width:100px}
			ul.steps li { width: 18px;padding: 3px 15px;}
			.reg-form .fields,.reg-form .right { font-size: 12px;}
			.row-1 .title { float:none; width:100%; padding-bottom:20px}
			.row-1 .title h3 { font-size:29.5px; }
			.row-1 .return { float:none; width:100%;margin-bottom:20px}	
		

/* MEDIA QUERIES */
@media screen and (max-width: 1280px){
}

@media screen and (max-width:1024px) { 
}

@media screen and (max-width:980px) {
	.grid_second article         {  padding:30px 20px 20px 20px}
	.grid_second article h2      {font-size:25px;}
	.top-entry ul li div .text   { height:55px; font-size:14px; }
	.top-entry h2                {  font-size: 40px;}

	

	 
}
@media screen and (max-width:800px) {
.slider-first  .callbacks .caption      { font-size:15px;top:40%;padding: 12px;margin: 0 40px;font-weight:700 }
.slider-first  .callbacks .caption span { font-size:25px; display:block}	
.slider-first  .callbacks li .link      { font-size: 21px;padding: 5px 20px;}	
.grid_second article     {  padding:15px}
.grid_second article h2   {font-size:20px;}
.grid_second article p.second-line     { font-size:18px; margin-bottom:10px}
.grid_second article p.third-line      {padding-bottom:20px; font-size:16px; }
.top-entry ul li div .text   { height:55px; font-size:12px; height:34px }
.top-entry h2                {  font-size: 40px;}
.top-entry h2                { text-align:center; font-size:25px; padding-bottom:15px}

.press .box  	 { float:none;  width:100%}
.press ul    	 { padding-bottom:0px}
.slider-second .callbacks li .image,
.slider-second .callbacks .caption         { float:none; width:100%; position:relative;}
.slider-second .callbacks li .image .corner { display:none;}
.slider-second .callbacks li .link    { position:relative; padding:0 15px; right:auto}
	.slider-second .callbacks .caption { padding:20px 20px 50px ;}			   

}
@media screen and (max-width:768px) { 
 header .logo                   { padding:5px}
 header .logo,header hgroup    { float:none; text-align:center; padding:5px;}
 header ul.login li.fb         { display:block; float:none}
 header ul.login li            { float:none;}
 ul.callbacks_tabs             { display:none;}
 .top-entry ul                 { padding:0;} 
 .top-entry ul li              { float:none; display:block; width:100%; margin-bottom:10px;}
.top-entry ul li div .text     { height:34px; font-size:16px; line-height:31px }
.top-entry h2                  {  font-size: 40px;}
.top-entry ul li div .count    { height:34px; line-height:36px; font-size:21px }
.slider-second .callbacks .caption p.third-line  { font-size:14px}
.slider-second .callbacks li .link a  { font-size:13px; margin:2px}
.login_btn   { top:0; font-size:13px}


}
@media screen and (max-width:640px) { 
    .grid_first .training,
	.grid_first .form       { float:none; width:100%; text-align:center;padding:20px;}
	.grid_first .training   { font-size:25px}
	.grid_second article,
	.grid_second figure     { float:none; width:100%;}
	.grid_second figure .corner { display:none;}
	.press      	 { background:#3598db; padding:20px 0;}
	.press ul li	 { margin:0 20px 15px;}
	.btn_orng3       { margin:0 20px;}
	footer .col-01          { float:left; width:40%}
	footer .col-02          { float:left; width:60%}
	footer .col-03          { float:none; width:100%; clear:both; padding:20px 0 0 0}
	footer .frame {  padding: 0px;}
	.articles-main article         { float:none;width:auto; margin:5px ; border:1px solid #E1F4FD}
	.articles-main article h3      { height:auto; padding-bottom:5px}
     .reg-form .colum,.reg-form .right { float: none; width: 100%;margin:0 auto; max-width:420px}
			.reg-form .fields { border-right:0; padding:0 20px}
			.reg-form { padding: 14px 0px;}
			.row-1 .title { float:none; width:100%; }
			.panel-left { width:100%; float:none; padding-right:0; padding-bottom:20px}
			.panel-rite { width: 100%; float: none; padding-left: 0;}
			.pop { width:auto; margin:50px 10px; }
			.popbox h3 { font-size:18.22px;}
			.popbox {font-size:14.03px}

}
@media screen and (max-width: 600px) {
	
  .callbacks_nav {
    top: 47%;
    }
}
	 



@media screen and (max-width:480px) {
.slider-first  .callbacks .caption      { font-size:12px;top:40%;padding: 12px;margin: 0 15px;font-weight:700 }
.slider-first  .callbacks .caption span { font-size:14px; display:block}	
.slider-first  .callbacks li .link      { font-size:12px;padding: 2px 10px; bottom:10px;}	
.articles-main           { padding:15px 0; }
.articles-main article h3{ font-size:14px}
.articles-main article p { padding:10px 10px 0}
.grid_first .training   { font-size:18px}
.grid_first .form       { font-size:14px;}
.top-entry ul li div .text     { height:auto; }
.top-entry h2                  {  font-size: 20px;}
.top-entry ul li div .count    { height:34px; line-height:36px; font-size:13px }
.top-entry ul li div { margin:0}
.top-entry           {  padding: 32px 13px;}

	footer .col-01,footer .col-02 ,footer .col-03,footer .col-03 .colums         { float:none; width:100%}
	footer .col-01 .logo   { padding-bottom: 13px;}
	ul.footnav_01 li       { padding: 0px 0px 12px;}
	footer .col-02         { padding:20px 0 0 0;}
   #entry .heading { font-size: 31px;}
			.reg-form .right { padding:0 15px 20px}
			.reg-form .fields .label,.reg-form .fields .colums { float:none; width:100%;}
			.reg-form .fields .label, .reg-form .label { padding:13px 15px 0px 0px; text-align:left}
			.reg-form .label.ylw { font-size: 10px; padding:0 15px 20px; width:100%}
			.session .content .row figure { width:100%; float:none; text-align:center}
			.session .content .row article { float:none; width:100%; padding-left:0px;}
			input, select {
			-webkit-appearance: none;-moz-appearance: none;
			appearance: none;
			}
			.reg-form .fields .tfl_small { width: 26%;}

}

@media screen and (max-width:360px) {
	header ul.login li    { padding:2px}
	header ul.login li input[type=text],
    header ul.login li input[type=password] {width:110px;}
	.top-entry ul li div .text     { height:auto; font-size:13px}
	.top-entry h2                  {  font-size: 20px;}
	.top-entry ul li div .count    { height:34px; line-height:36px; font-size:12px }
	ul.nav_01 li,ul.nav_02 li,ul.nav_03 li{display:block;text-align:left;font-size:15px;}
ul.nav_01 li a,ul.nav_02 li a,ul.nav_03 li a{padding:5px 5px 5px 20px;}

}
@media screen and (max-width:320px) { 
ul.nav_01 li,ul.nav_02 li,ul.nav_03 li{display:block;text-align:left;font-size:15px;}
ul.nav_01 li a,ul.nav_02 li a,ul.nav_03 li a{padding:5px 5px 5px 20px;}
}













