.choose-language{display:inline-block;float:left;position:relative;}
.choose-language ul{
  text-align: left;
  display: inline;
  margin: 0;
  list-style: none;
  z-index:999;
}
.choose-language ul li{
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.choose-language ul li img{vertical-align:middle;}
img.drop-arrow{margin:0 0 0 10px;}
.choose-language ul li:hover {
  background: #2a80b9;
  color: #fff;
}
.choose-language ul li ul {
  padding: 0;
  position: absolute;
  margin-top:20px;
  top: 20px;
  left: 0;
  width: 160px;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
 .choose-language ul li ul li { 
  background: #2a80b9; 
  display: block; 
  color: #fff; 
}
.choose-language ul li ul li:first-child{margin-top:20px;}
.choose-language ul li ul li  h5{display:inline-block;margin:0 0 0 20px;}
.choose-language ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.popbox_Registrationmsg table td{font-weight:600;font-size:16px;}
.pop_produiOverlayBoxType{width:auto; margin:50px 10px;}
.pop_paymentSuccessMsg table td{font-weight:600;font-size:16px;}
.popbox_produiOverlayBox h2{margin-bottom:20px;}
.popbox_produiOverlayBox input[type="text"]{border: 1px solid #408dc1;
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
    padding: 5px;
    width: 150px;}
	.popbox_produiOverlayBox td.fin{padding:10px;}
	


@media screen and (max-width:768px) {
	.choose-language               { float:right;}
    .choose-language ul li         { padding: 0 20px 15px;}
	.choose-language ul li ul li   {  padding: 15px 20px;}
	.choose-language ul li ul      { right:0; left:auto; top:-10px}
}
@media screen and (max-width:360px) {
}
@media screen and (max-width:320px) { 
}
/*********INDEX PAGE- search popup******************************************************************/
.pop_search{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_search{padding:50px 28px 15px;font-size:18.03px;}
.pop_search{width:auto; margin:50px 10px;}
.popbox_search{font-size:14.03px}
.horizontal{display: inline; }
/********DASHBOARD-produiOverlayBoxConfirmUserArea***************************************************/
.pop_produiOverlayBoxConfirmUserArea{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBoxConfirmUserArea{padding:50px 28px 15px;font-size:18.03px;}
.pop_produiOverlayBoxConfirmUserArea{width:auto; margin:50px 10px;}
/*
.pop_produiOverlayBoxConfirmUserArea{padding:50px 28px 15px;font-size:18.03px;}
*/
.pop_produiOverlayBoxConfirmUserArea table td{font-weight:600;font-size:16px;}
.pop_produiOverlayBoxConfirmUserArea h3 { font-size:26.22px;  text-align: center;padding:0px 0px 27px; margin-bottom: 34px;  background: transparent url("../images/line.png") no-repeat scroll center bottom;
}

/********DASHBOARD-Registrationmsg*******************************************************************/
.pop_Registrationmsg{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_Registrationmsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_Registrationmsg{width:auto; margin:50px 10px;}
.popbox_Registrationmsg{font-size:14.03px}
/********DASHBOARD-Registrationmsg*******************************************************************/
.pop_paymentSuccessMsg{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_paymentSuccessMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_paymentSuccessMsg{width:auto; margin:50px 10px;}
.popbox_paymentSuccessMsg{font-size:14.03px}
/********DASHBOARD-Gift payment********************************************************************************************/
.pop_giftpayment{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_giftpayment{padding:50px 28px 15px;font-size:18.03px;}
.pop_giftpayment{width:auto; margin:50px 10px;}
.popbox_giftpayment{font-size:21.03px}
/*********PROGRAM SUBSCRIPTION -program subscription popup*/
.pop_progm{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_progm{padding:50px 28px 15px;font-size:18.03px;}
.pop_progm{width:auto; margin:50px 10px;}
.popbox_progm{font-size:14.03px}
/*********PROGRAM SUBSCRIPTION -program subscription calendar popup**/
.pop_produiOverlayBox{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBox{padding:20px 28px 15px;font-size:18.03px;}
.pop_produiOverlayBox{width:auto; margin:0px 10px;}
/*.popbox_produiOverlayBox{font-size:14.03px}*/
/*********PROGRAM SUBSCRIPTION -produiOverlayBoxPayment******/
.pop_produiOverlayBoxPayment{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBoxPayment{padding:50px 28px 15px;font-size:18.03px;}
.pop_produiOverlayBoxPayment{width:auto; margin:50px 10px;}
.popbox_produiOverlayBoxPayment{font-size:14.03px}
/*********PROGRAM SUBSCRIPTION -checksessionmessage*********/
.pop_checksessionmessage{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_checksessionmessage{padding:50px 28px 15px;font-size:18.03px;}
.pop_checksessionmessage{width:auto; margin:50px 10px;}
.popbox_checksessionmessage{font-size:14.03px}
.pop_checksessionmessage table td{font-weight:600;font-size:16px;}
/********GENERATE SESSION-comment popup **********************/
.pop_produiOverlayBox1{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBox1{padding:50px 28px 15px;font-size:18.03px;}
.pop_produiOverlayBox1{width:auto; margin:50px 10px;}
.popbox_produiOverlayBox1{font-size:14.03px}
/*** close option- cross image****************************************/
#fancybox-close1 { background-attachment: scroll;background-clip: border-box; background-color: rgba(0, 0, 0, 0);background: url(../images/fancy_close.png);background-origin: padding-box; background-position: center 0;background-repeat: no-repeat;background-size: auto auto;cursor: pointer; display: none;height: 14px; position: absolute; right: 15px;  top: 11px; width: 14px;z-index: 1103;}
/******PROGRAM GENERATE ***************************************/
.pop_produiOverlayBoxType{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBoxType{padding:50px 28px 15px;font-size:18.03px;}
/*******PROGRAM GENERATE-popupstyle-1****************************************************************/
.pop_popupstyle{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_popupstyle{padding:50px 28px 15px;font-size:18.03px;}
.pop_popupstyle{width:auto; margin:50px 10px;}
/*******PROGRAM GENERATE-popupstyle-2***************************************************************/
.pop_popupstyle1{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_popupstyle1{padding:50px 28px 15px;font-size:18.03px;}
.pop_popupstyle1{width:auto; margin:50px 10px;}
.popbox_popupstyle1{font-size:14.03px}
/*******PROGRAM GENERATE-produiOverlayBox2**********************************************************/
.pop_produiOverlayBox3{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBox3{padding:50px 28px 15px;font-size:16.03px;}
.pop_produiOverlayBox3{width:auto; margin:0px 10px;}
/*.popbox_produiOverlayBox3{font-size:14.03px}*/
/*******PROGRAM GENERATE-produiOverlayBox2***********************************************************/
.pop_produiOverlayBox2{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_produiOverlayBox2{padding:50px 28px 15px;font-size:16.03px;}
.pop_produiOverlayBox2{width:auto; margin:300px 150px;}
.pop_produiOverlayBox2{width:auto; margin:0px 10px;}
/*******PROGRAM GENERATE-device popup****************************************************************/
.pop_device_popup{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_device_popup{padding:50px 28px 15px;font-size:18.03px;}
.pop_device_popup{width:auto; margin:50px 10px;}
.popbox_device_popup{font-size:14.03px}
/********PAYMENT-Registrationmsg**********************************************************************/
.pop_renewSubscriptionId{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_renewSubscriptionId{padding:50px 28px 15px;font-size:18.03px;}
.pop_renewSubscriptionId{width:auto; margin:50px 10px;}
.pop_renewSubscriptionId{padding:0px 20px 0px;font-size:18.03px;}
.pop_renewSubscriptionId table td{font-weight:400;font-size:16px;}
/********PAYMENT-unsubscribePgm***********************************************************************/
.pop_unsubscribePgm{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_unsubscribePgm{padding:50px 28px 15px;font-size:18.03px;}
.pop_unsubscribePgm{width:auto; margin:50px 10px;}
/*
.pop_unsubscribePgm{padding:50px 28px 15px;font-size:18.03px;}
*/
.pop_unsubscribePgm table td{font-weight:400;font-size:16px;}
.pop_unsubscribePgm h3 {font-size:26.22px;text-align: center;padding:0px 0px 27px;margin-bottom: 34px; background: transparent url("../images/line.png") no-repeat scroll center bottom;}
/********PAYMENT-renewSubscriptionId******************************************************************/
.pop_DiscountCmnAlertMsg{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_DiscountCmnAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_DiscountCmnAlertMsg{width:auto; margin:50px 10px;}
.pop_DiscountCmnAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_DiscountCmnAlertMsg table td{font-weight:600;font-size:16px;}
/********PAYMENT-planChangeAlertMsg*******************************************************************/
.pop_planChangeAlertMsg{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_planChangeAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_planChangeAlertMsg{width:auto; margin:50px 10px;}
.popbox_planChangeAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.popbox_planChangeAlertMsg table td{font-weight:600;font-size:16px;}
/********PAYMENT-paymantCmnAlertMsg*******************************************************************/
.pop_paymantCmnAlertMsg{background:#408dc1;width:100%;margin:50px auto 0;display:none;max-width:738px;z-index:500;color:#f4d03e;font-family: 'Montserrat(OTT)', sans-serif; border-radius:15px}
.popbox_paymantCmnAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_paymantCmnAlertMsg{width:auto; margin:50px 10px;}
.pop_paymantCmnAlertMsg{padding:50px 28px 15px;font-size:18.03px;}
.pop_paymantCmnAlertMsg table td{font-weight:600;font-size:16px;}
/***error message***/
.error_message{color:#FFAB15; }


.orange-botton{background: #F4D03E ;color: #E47F25;border: 2px solid #F4D03E;padding: 6px 62px;text-transform: uppercase;font-size:16.39px;font-weight: 700;margin:10px 0;}
.orange-botton :hover,.orange-botton :focus {background: #408dc1 ;color: #F4D03E;outline:none;}
.orange-botton {width:100% !important;}
