.toggleMenu {
    display:  none;
    background:#4291C6;
    padding: 10px 15px; float:right;
    color: #fff; position:relative; z-index:999
}
.top_nav          { background:#2a80b9; border-top:1px solid #4291c6;}

.nav {
    list-style: none;
     *zoom: 1; text-align:center;
    font-family: 'Montserrat(OTT)', sans-serif; font-weight:700; font-size:16px;
	 width:100%; max-width:1128px; margin:0 auto;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding:16px 15px;
    color:#fff;
}
.nav a:hover    { color:#fed638}
.nav li {
    position: relative;
}
.nav > li {
	display:inline-block
}
.nav > li > .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #1d7a62;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}
@media screen and (max-width:980px) {
	.nav a {  padding: 16px 12px;}
	.nav   {  font-size: 14px;}
}
@media screen and (max-width: 800px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
   
}

@media screen and (max-width: 820px) {
	  .nav      { text-align:left} 
      .nav > li {    display:block; border-bottom:1px solid #4291C6;}	
}

















